.background-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    transition: transform 0.1s linear;
    will-change: transform;
    z-index: -1;
}

.front-layer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: none;
    height: auto;
    object-fit: contain;
    transition: transform 0.3s linear;
    will-change: transform;
}

@media (max-width: 1024px) {
    .front-layer {
        width: 120%;
        max-width: none;
    }
}

@media (max-width: 600px) {
    .front-layer {
        width: 230%;
    }
}